
.table{
    table-layout: auto;
    width: 70%;
    border-collapse: collapse;
    
  
  }
  .grid-container{
    display:grid ;
    grid-template-columns:   60% 20%;
  
  }



  

  .first{
    background-color:  rgb(79, 160, 181) ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    }

  
  tbody td {
    background-color:   rgb(242, 242, 242);
    font-size: medium;  
  }

  
tbody td:nth-child(2) {color: rgb(55, 26, 134);}
  
  
